/crossterm
/relay
.DS_Store

# Keep the saves folder structure but ignore the json files
/data/saves/*
!/data/saves/.gitkeep

# Ensure puzzles folder is tracked even if empty
!/data/puzzles/.gitkeep

.vscode/
/data/.DS_Store
.notebook/
bin/
debug.log
*_linux
*.exe
